node_modules/
virtual-personas.json
logNoMatching.json
automaticNoActionSnapshot_dataset.csv
14:b4:57:6d:a5:43_dataset.csv
mqtt_test.js
oldVPsnaps_test.js

influx-db/test_query.js
influx-db/createDB.js

ble-discover/dummy_scan.js